<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <RollingFile name="rolling" fileName="/opt/tomcat10/logs/application.log" filePattern="/opt/tomcat10/logs/application-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="rolling" />
        </Root>
    </Loggers>
</Configuration>